<div class="create-container">
  <div class="create-column">
    <h2 class="form-title">Create</h2>

    <form class="input-form" action="/videos" method="post" >
      <label class="form-label" for="title">Title</label>
      <input id="title-input" name="title" value="" />

      <label class="form-label" for="description">Description</label>
      <textarea id="description-input" name="description"></textarea>

      <button class="button submit-button" id="submit-button" type="submit">
        <p>Save a video</p>
      </button>
    </form>
  </div>
</div>
